<!DOCTYPE html>
<html>
<head>
	<style type="text/css">
		body{
    background: url(https://previews.123rf.com/images/ipopba/ipopba1803/ipopba180300011/97349171-medicine-doctor-and-stethoscope-touching-icon-medical-network-connection-with-modern-virtual-screen-.jpg) no-repeat center center fixed;
      background-size: cover;
   }
   .heading{
    margin-top:50px; 
    margin-bottom:175px;
    margin-left:140px;
   }
	</style>
  <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<title>doctorhomepage</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    	<form class="form-inline" method="GET" action="/login">
    <button class="btn btn-outline-success" type="submit">signout</button>
  </form>
    </nav>
    <div class="container">
  <div class="container mt-3">
   <div class="heading"> 
  <h2>Welcome To Heart Disease Predictor <%=username%> !!</h2>
  </div> 
  <h4>Please upload file in excel formats only:</h4>
  <form  method="POST" enctype="multipart/form-data"  action="/predict">
    <h4>Patient's file:</h4>  
    <div class="custom-file mb-3">
      <input type="file" class="custom-file-input" id="customFile" name="file">
      <label class="custom-file-label" for="customFile">Choose file</label>
    </div>
    <div class="mt-3">
      <button type="submit" class="btn btn-primary" name="submit" value="upload">make prediciton</button>
    </div>
  </form>
</div>
<script>
// Add the following code if you want the name of the file appear on select
$(".custom-file-input").on("change", function() {
  var fileName = $(this).val().split("\\").pop();
  $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
});
</script>

</body>
</html>